.modifyProductsForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 30px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }


  .input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 8px; 
    margin-top: 10px; 
    background-color: #007bff;
    color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
 
  
  
  
  
  
  